<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378932039174-b9nar4oh8lmesnqcjs27i350nma788ln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378932039174-b9nar4oh8lmesnqcjs27i350nma788ln</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>378932039174-g94p2vb6i45sdjgtf4gjko93fhkpmtsk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4JfE-yGK_tpCq3W0Og9R5ilHQ4lDUowk</string>
	<key>GCM_SENDER_ID</key>
	<string>378932039174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.flybag</string>
	<key>PROJECT_ID</key>
	<string>fly-bag</string>
	<key>STORAGE_BUCKET</key>
	<string>fly-bag.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378932039174:ios:47f0f961ce9526b2e6bd87</string>
</dict>
</plist>